/** -------------------- **/
/** ------ Layout ------ **/
/** -------------------- **/

body{
background-color: rgba(227, 218, 218, 0.747);
}

/** ------ Nav ------ **/

.nav-bar{
    height: 70px;
    margin: 0;
    background-color: rgba(184, 178, 178, 0.841);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.nav-logo{
    height: 36px;
    margin-left: 30px;
    
}