/** -------------------- **/
/** ------ Style ------ **/
/** -------------------- **/

h1{
    font-family: "Didot", "Bodoni MT", Georgia, serif;
    font-size: 90px;
    color: rgb(72, 54, 54);
    line-height: 0.9;
    word-break: break-word;
}

h2{
    font-family: "Didot", "Bodoni MT", Georgia, serif;
    font-size: 50px;
    color: rgb(54, 41, 41);
    line-height: 1;
}

p{
    font-family: "Arial", sans-serif;
    font-size: 15px;
    color: rgb(54, 41, 41);
    line-height: 0.7;
    
}

/** -------------------- **/
/** ------ Layout ------ **/
/** -------------------- **/

.body{
    margin: 0;
    background-color: white;
     overflow-x: hidden;
}
    

/** ------ Nav ------ **/
.l-header{
    width: 100%;           
    box-sizing: border-box;
}    

.nav-bar{
    height: 70px;
    margin: 0;
    font-family: Andale Mono;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000; 
    width: 100%;
}

.nav-logo{
    height: 50px;
    margin-left: 30px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.nav-item a{
    color: rgb(117, 85, 85);
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: underline;
    color: rgb(72, 54, 54);
}

/** ------ Startseite ------ **/

.l-main{
    gap: 30px;
    display: grid;
    padding: 50px 50px 50px 50px;
    grid-template-areas:
        "he1 he1 he1 ."
        "b1 b1 b1 ."
        "b2 b2 t1 t1"
        "b2 b2 . ."
        "t2 t2 . .";
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto auto;
}

.he1{grid-area: he1;}
.t1{grid-area: t1;}
.b1{grid-area: b1;}
.t2{grid-area: t2;}
.b2{grid-area: b2;}

.l-main img{
    max-width: 100%;
    height: auto;
    display: block;
}

/** ------ Slider ------ **/

.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}
.slides {
    height: 100%;
}

.slider img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
    object-position: center;    
    display: none;
}
img.displaySlide{
    display: block;
}
.slider button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 12px 16px;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background: rgba(0,0,0,0.4);
    border: none;
    z-index: 10;
}

.prev{
    left: 0;
}
.next{
    right: 0;
}