/** -------------------- **/
/** ------ Layout ------ **/
/** -------------------- **/

body{
    margin: 0;
    background-color: rgba(227, 218, 218, 0.747);
}

/** ------ Nav ------ **/

.nav-bar{
    height: 70px;
    margin: 0;
    font-family: Andale Mono;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000; 
    width: 100%;
}

.nav-logo{
    height: 50px;
    margin-left: 30px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.nav-item a{
    color: rgb(117, 85, 85);
    text-decoration: none;
}

.nav-item :hover{
    text-decoration: underline;
    color: rgb(72, 54, 54);
}

/** ------ Slider ------ **/

.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}
.slides {
    height: 100%;
}

.slider img{
    width: 100%;
    height: 100%;  
    object-fit: cover;
    object-position: center;    
    display: none;
}
img.displaySlide{
    display: block;
}
.slider button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 12px 16px;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background: rgba(0,0,0,0.4);
    border: none;
    z-index: 10;
}

.prev{
    left: 0;
}
.next{
    right: 0;
}